connie-subagent:-blog-post-Post creation.json
{
  "createdAt": "2025-06-16T10:58:25.953Z",
  "updatedAt": "2025-07-21T09:46:07.812Z",
  "id": "CdKcL913RQq4X2St",
  "name": "Connie SubAgent: Blog Post",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Blog Post: \n{{ $('Message a model').item.json.message.content }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "={{ $json.content }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -100,
        200
      ],
      "id": "7b3c449f-3884-484c-a251-2faac9d84df1",
      "name": "Image Prompt Agent"
    },
    {
      "parameters": {
        "content": "# Content Generation",
        "height": 260,
        "width": 640,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1500,
        120
      ],
      "id": "747aecc7-6211-4dc2-98e5-d2e62aa8fcc9",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Generate Image\n",
        "height": 520,
        "width": 520,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -340,
        120
      ],
      "id": "24627712-0680-4d4b-883d-a9e177189dd8",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# Image Prompt\n",
        "height": 260,
        "width": 480,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -840,
        120
      ],
      "id": "35b61b84-ea44-4313-a7bf-47657a9cbf36",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Tool & Model",
        "height": 240,
        "width": 1140,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1500,
        400
      ],
      "id": "0a424634-53e7-45fa-9d8a-8071aa4b83e6",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "blogTopic"
            },
            {
              "name": "targetAudience"
            },
            {
              "name": "chatID"
            },
            {
              "name": "userPrompt",
              "type": "any"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1760,
        320
      ],
      "id": "c6b723da-858d-4151-8368-763f56fd9a16",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Topic of Blog: {{ $('When Executed by Another Workflow').item.json.blogTopic }}\nTarget Audience: {{ $('When Executed by Another Workflow').item.json.targetAudience }}\n**Company_details** ==  {{ $('Get a document').item.json.content }}",
        "options": {
          "systemMessage": "={{ $json.content }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -1100,
        200
      ],
      "id": "4f5204be-f6a5-4eb5-8d7c-04fad3a48782",
      "name": "Blog Post Agent"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"title\": \"<2-4 word creative title for the image>\",\n  \"prompt\": \"<full detailed image generation prompt>\"\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        20,
        480
      ],
      "id": "ed94280c-96f2-4233-8b80-4c619882cf74",
      "name": "Image & Title"
    },
    {
      "parameters": {
        "content": "## Structured Output",
        "height": 200,
        "width": 260,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -60,
        420
      ],
      "id": "ce9c674c-02c7-4f12-8750-c95595ef85c1",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "chatId": "={{ $('When Executed by Another Workflow').item.json.chatID }}",
        "text": "={{ $('Message a model').item.json.message.content }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1560,
        160
      ],
      "id": "02c62935-2a35-4d75-af5b-251fbcc412a3",
      "name": "Send Blog",
      "webhookId": "94fa70af-f2fc-4c05-8fa1-d9f55637485f",
      "credentials": {
        "telegramApi": {
          "id": "FPa39KbyPXUd0Mna",
          "name": "AI Marketing Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('When Executed by Another Workflow').item.json.chatID }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1300,
        160
      ],
      "id": "28512046-d01c-4097-9bdc-8702be1c632f",
      "name": "Send Photo",
      "webhookId": "8fcbda9c-8396-41f7-8f2d-39e4ae4337c7",
      "credentials": {
        "telegramApi": {
          "id": "FPa39KbyPXUd0Mna",
          "name": "AI Marketing Bot"
        }
      }
    },
    {
      "parameters": {
        "content": "# Trigger\n",
        "height": 300,
        "width": 320,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1840,
        220
      ],
      "id": "8cd438df-748d-4461-b559-7c5a275049ed",
      "name": "Sticky Note5",
      "disabled": true
    },
    {
      "parameters": {
        "content": "# Send Content",
        "height": 280,
        "width": 1040,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        960,
        80
      ],
      "id": "2a5a8032-fa61-4284-a2e0-23d1413cfa2e",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -500,
        500
      ],
      "id": "29041e58-9c54-457d-b4a6-f0be4988862f",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "L5UoHZfkBt6nb3Ad",
          "name": "OpenAi Account"
        }
      }
    },
    {
      "parameters": {
        "model": "sonar-deep-research",
        "messages": {
          "message": [
            {
              "content": "={{ $('When Executed by Another Workflow').item.json.userPrompt }}"
            }
          ]
        },
        "simplify": true,
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.perplexityTool",
      "typeVersion": 1,
      "position": [
        -940,
        480
      ],
      "id": "72491a05-5cb3-4d32-baef-df839b788a40",
      "name": "Blog writer",
      "credentials": {
        "perplexityApi": {
          "id": "lpVfQH8LZoNo3Ma7",
          "name": "Kevin API key"
        }
      }
    },
    {
      "parameters": {
        "content": "# Write to Drive & Airtable",
        "height": 260,
        "width": 1040
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        960,
        400
      ],
      "id": "4efc245c-bf32-448c-a8de-4dd37358a6dc",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "name": "={{ $('Image Prompt Agent').item.json.output.title }}.png",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1S58bH77l326hWEtv8lOZJK8enl1LM5j-",
          "mode": "list",
          "cachedResultName": "AI Image Generation",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1S58bH77l326hWEtv8lOZJK8enl1LM5j-"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1100,
        480
      ],
      "id": "0237e2d6-e4af-4ae2-bc51-972d5007b923",
      "name": "Upload1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "z29QCHSTFbuYhWdz",
          "name": "Dan Drive Account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Use this tool to search the web. ",
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"query\": \"{searchTerm}\",\n  \"topic\": \"general\",\n  \"search_depth\": \"advanced\",\n  \"chunks_per_source\": 3,\n  \"max_results\": 1,\n  \"time_range\": null,\n  \"days\": 7,\n  \"include_answer\": true,\n  \"include_raw_content\": false,\n  \"include_images\": false,\n  \"include_image_descriptions\": false,\n  \"include_domains\": [],\n  \"exclude_domains\": []\n}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "searchTerm",
              "description": "What the user is searching for. "
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        -1420,
        480
      ],
      "id": "de9ebc67-0d69-49d6-8780-80cf197ed6b5",
      "name": "Blog writer1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "tImW1UUZqNiJXBdl",
          "name": "Header Auth account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "messages": {
          "values": [
            {
              "content": "=Make short of that output Do not add any other informations Just plain output Not to much short keep imporatnt information \n\n{{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -700,
        200
      ],
      "id": "80c2dea2-9970-44b3-9eb2-0fc746653b26",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "G5B8fc5uUqqLH94p",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appmx8XSC7YGtV2n6",
          "mode": "list",
          "cachedResultName": "Connie - Logs",
          "cachedResultUrl": "https://airtable.com/appmx8XSC7YGtV2n6"
        },
        "table": {
          "__rl": true,
          "value": "tbl9NlwR95n4Y6pRS",
          "mode": "list",
          "cachedResultName": "Images Logs",
          "cachedResultUrl": "https://airtable.com/appmx8XSC7YGtV2n6/tbl9NlwR95n4Y6pRS"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "userId": "={{ $('When Executed by Another Workflow').item.json.chatID.toString() }}",
            "userPrompt_Title": "={{ $('When Executed by Another Workflow').item.json.blogTopic }}",
            "url": "={{ $json.webViewLink }}",
            "Image_Description": "={{ $('Image Prompt Agent').item.json.output.prompt }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "userPrompt_Title",
              "displayName": "userPrompt_Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Image_Description",
              "displayName": "Image_Description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1360,
        480
      ],
      "id": "4b5714c3-8ab8-4cc8-afcb-33f2652f642e",
      "name": "Stored Images Logs",
      "credentials": {
        "airtableTokenApi": {
          "id": "nAL0HIMVMsBw6lFI",
          "name": "Dan Airtable Acc"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appmx8XSC7YGtV2n6",
          "mode": "list",
          "cachedResultName": "Connie - Logs",
          "cachedResultUrl": "https://airtable.com/appmx8XSC7YGtV2n6"
        },
        "table": {
          "__rl": true,
          "value": "tblpFcnxnYnR62O0S",
          "mode": "list",
          "cachedResultName": "Connie - Logs",
          "cachedResultUrl": "https://airtable.com/appmx8XSC7YGtV2n6/tblpFcnxnYnR62O0S"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "userId": "={{ $('When Executed by Another Workflow').item.json.chatID.toString() }}",
            "Title": "={{ $('When Executed by Another Workflow').item.json.blogTopic }}",
            "Request": "={{ $('When Executed by Another Workflow').item.json.blogTopic }} for {{ $('When Executed by Another Workflow').item.json.targetAudience }}",
            "Link": "={{ $('Upload1').item.json.webViewLink }}",
            "Output": "={{ $('Blog Post Agent').item.json.output }}",
            "ID": "={{ $json.id }}",
            "Type": "Blog Post"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Request",
              "displayName": "Request",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Output",
              "displayName": "Output",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1600,
        480
      ],
      "id": "7329d799-c7c2-400f-8f2c-9d5e44fa034a",
      "name": "Final Logs",
      "credentials": {
        "airtableTokenApi": {
          "id": "nAL0HIMVMsBw6lFI",
          "name": "Dan Airtable Acc"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/1ZOtE9cTQ3HodG5t2FH2gv2Y1Z2Mw1uxAJ8veWr-qhxA/edit?usp=sharing"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -1460,
        200
      ],
      "id": "5f0acabb-5404-4cba-a370-5dd82663db21",
      "name": "Get a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "oXRWK49kYi4imjWg",
          "name": "Dan Acc 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "77222a38-58a2-41fe-8d5a-856edb08289f",
              "leftValue": "={{ $('When Executed by Another Workflow').item.json.chatID.toString() }}",
              "rightValue": "cg_admin",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1040,
        180
      ],
      "id": "e82552a7-5332-4d6b-9cd8-0f1e3741a06f",
      "name": "If"
    },
    {
      "parameters": {
        "amount": 25
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        440,
        300
      ],
      "id": "121d1097-8f9b-4aed-a7ff-397d22847690",
      "name": "90 Seconds",
      "webhookId": "ffdc5132-c0fe-44f6-af2b-4b3bb8894153"
    },
    {
      "parameters": {
        "url": "=https://api.freepik.com/v1/ai/text-to-image/imagen3/{{ $json.data.task_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-freepik-api-key",
              "value": "FPSXd657e028599a2956214dfae383682a59"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        300
      ],
      "id": "d78a2c7a-54b9-487b-a334-65f8aed41035",
      "name": "Get Image"
    },
    {
      "parameters": {
        "content": "# Generate Image\n",
        "height": 220,
        "width": 720,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        200,
        220
      ],
      "id": "fc7aa4c7-26ad-48ba-a50b-58416b7fda5f",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "url": "={{ $json.data.generated[0] }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        780,
        300
      ],
      "id": "7f5dac4f-bffd-452e-84f5-6371b9ed999f",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.freepik.com/v1/ai/text-to-image/imagen3",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-freepik-api-key",
              "value": "FPSXd657e028599a2956214dfae383682a59"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json.output.prompt }}\",\n  \"num_images\": 1,\n  \"aspect_ratio\": \"square_1_1\",\n  \"styling\": {\n    \"style\": \"anime\",\n    \"effects\": {\n      \"color\": \"pastel\",\n      \"lightning\": \"warm\",\n      \"framing\": \"portrait\"\n    }\n  },\n  \"person_generation\": \"allow_adult\",\n  \"safety_settings\": \"block_low_and_above\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        260,
        300
      ],
      "id": "ec82b66e-4299-46d5-becf-d075aa7259b6",
      "name": "Generate Image1"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "1GHElIr0E3tzP9-8mtHADCKWH4bhKpUyH1zX5tH68nUY"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -1280,
        200
      ],
      "id": "1ec6a282-331e-48cd-b92e-bf3a4b179ba4",
      "name": "Get a document1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "L9xmtETGAE9P06CN",
          "name": "Shreyansh Google Docs"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "1KMfvZy2C1poNYI4UthP4fjEyoYY7eMKaL4q61lS-UaU"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -300,
        200
      ],
      "id": "4fedbfb1-a5ba-4f44-b80e-a1d628fe3c78",
      "name": "Get a document2",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "L9xmtETGAE9P06CN",
          "name": "Shreyansh Google Docs"
        }
      }
    }
  ],
  "connections": {
    "Image Prompt Agent": {
      "main": [
        [
          {
            "node": "Generate Image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Blog Post Agent": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image & Title": {
      "ai_outputParser": [
        [
          {
            "node": "Image Prompt Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Send Photo": {
      "main": [
        [
          {
            "node": "Send Blog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Blog Post Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Image Prompt Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Blog writer": {
      "ai_tool": [
        [
          {
            "node": "Blog Post Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Upload1": {
      "main": [
        [
          {
            "node": "Stored Images Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Blog writer1": {
      "ai_tool": [
        []
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Get a document2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stored Images Logs": {
      "main": [
        [
          {
            "node": "Final Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document": {
      "main": [
        [
          {
            "node": "Get a document1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send Photo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "90 Seconds": {
      "main": [
        [
          {
            "node": "Get Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image1": {
      "main": [
        [
          {
            "node": "90 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document1": {
      "main": [
        [
          {
            "node": "Blog Post Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document2": {
      "main": [
        [
          {
            "node": "Image Prompt Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "0c903ae0-28dd-408c-a6ab-930375986f7b",
  "triggerCount": 0,
  "tags": [
    {
      "createdAt": "2025-06-27T07:39:15.482Z",
      "updatedAt": "2025-06-27T07:39:15.482Z",
      "id": "e748RcVHT4z337cd",
      "name": "Post creation"
    },
    {
      "createdAt": "2025-06-27T07:33:17.146Z",
      "updatedAt": "2025-06-27T07:33:17.146Z",
      "id": "o0UdW0gjScBNiXfo",
      "name": "sub-workflow"
    },
    {
      "createdAt": "2025-06-26T13:04:45.212Z",
      "updatedAt": "2025-06-26T13:04:45.212Z",
      "id": "mlzzxeiQkKmGlFL7",
      "name": "Connie"
    }
  ]
}