connie-subagent:-create-images-Images.json
{
  "createdAt": "2025-06-17T05:52:30.858Z",
  "updatedAt": "2025-07-21T09:59:23.445Z",
  "id": "T1e6Bdxyb8hrcOcC",
  "name": "Connie SubAgent: Create Images",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "imageTitle"
            },
            {
              "name": "imagePrompt"
            },
            {
              "name": "chatID"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1340,
        60
      ],
      "id": "a185cc8e-565a-4725-94df-d89b8c613ae8",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When Executed by Another Workflow').item.json.imagePrompt }}",
        "options": {
          "systemMessage": "={{ $json.content }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -740,
        60
      ],
      "id": "83327385-a04c-42b4-a82c-cebebcd6f482",
      "name": "Image Prompt"
    },
    {
      "parameters": {
        "name": "={{ $('When Executed by Another Workflow').item.json.imageTitle }}.png",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1S58bH77l326hWEtv8lOZJK8enl1LM5j-",
          "mode": "list",
          "cachedResultName": "AI Image Generation",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1S58bH77l326hWEtv8lOZJK8enl1LM5j-"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        180,
        200
      ],
      "id": "6228ba2a-6eaa-4f39-8042-26c9f8763dab",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "z29QCHSTFbuYhWdz",
          "name": "Dan Drive Account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Image Prompt\n",
        "height": 240,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -800,
        -20
      ],
      "id": "31642f7f-fbe8-40d1-b764-4ca756893483",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Brain",
        "height": 240,
        "width": 320,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -800,
        240
      ],
      "id": "2fa5412b-2133-4b3f-a26c-5653d6628205",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# Trigger\n",
        "height": 240,
        "width": 260,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1420,
        -20
      ],
      "id": "439bed63-4c1e-4347-b64f-e732a80386dd",
      "name": "Sticky Note5",
      "disabled": true
    },
    {
      "parameters": {
        "content": "# Generate Image\n",
        "height": 240,
        "width": 560,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -460,
        -20
      ],
      "id": "579e1f62-cb81-4f66-9af2-52ab9c70fa61",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# Send Content",
        "height": 240,
        "width": 540,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        120,
        -140
      ],
      "id": "0730800a-7b73-41e5-9ec8-8bc7ff565ca7",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "# Write to Drive & Sheets",
        "height": 240,
        "width": 540,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        120,
        120
      ],
      "id": "88b2e9c7-5bfd-4aac-86b5-7490d5879540",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('When Executed by Another Workflow').item.json.chatID }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        480,
        -80
      ],
      "id": "0ab8e90f-7c7a-47de-894f-e95f45cbcb71",
      "name": "Send Photo",
      "webhookId": "8fcbda9c-8396-41f7-8f2d-39e4ae4337c7",
      "credentials": {
        "telegramApi": {
          "id": "FPa39KbyPXUd0Mna",
          "name": "AI Marketing Bot"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -700,
        320
      ],
      "id": "857b7387-0434-4a4a-9064-841f26c26def",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "L5UoHZfkBt6nb3Ad",
          "name": "OpenAi Account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.data.generated[0] }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -20,
        60
      ],
      "id": "c22a8962-c3d7-4774-a0e0-eadd5c805e5e",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.freepik.com/v1/ai/text-to-image/imagen3",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-freepik-api-key",
              "value": "FPSXd657e028599a2956214dfae383682a59"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json.output }}\",\n  \"num_images\": 1,\n  \"aspect_ratio\": \"square_1_1\",\n  \"styling\": {\n    \"style\": \"anime\",\n    \"effects\": {\n      \"color\": \"pastel\",\n      \"lightning\": \"warm\",\n      \"framing\": \"portrait\"\n    }\n  },\n  \"person_generation\": \"allow_adult\",\n  \"safety_settings\": \"block_low_and_above\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -440,
        60
      ],
      "id": "3a3b1001-471b-4b99-b4a1-906593e65221",
      "name": "Generate Image"
    },
    {
      "parameters": {
        "amount": 25
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -300,
        60
      ],
      "id": "578993d4-a194-40d0-b6c9-8ec5eed1c4a1",
      "name": "90 Seconds",
      "webhookId": "ffdc5132-c0fe-44f6-af2b-4b3bb8894153"
    },
    {
      "parameters": {
        "chatId": "={{ $('When Executed by Another Workflow').item.json.chatID }}",
        "text": "Thank you! Your image is being generated and will be displayed shortly.",
        "replyMarkup": "forceReply",
        "forceReply": {},
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -680,
        -200
      ],
      "id": "323562b9-1b5c-4ac6-bf30-a4587b43b53b",
      "name": "Acknowledgment",
      "webhookId": "8fcbda9c-8396-41f7-8f2d-39e4ae4337c7",
      "credentials": {
        "telegramApi": {
          "id": "FPa39KbyPXUd0Mna",
          "name": "AI Marketing Bot"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "## Acknowledgement",
        "height": 240,
        "width": 320,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -800,
        -280
      ],
      "id": "76d50953-50c9-4c65-a6bf-b399cfd34386",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "url": "=https://api.freepik.com/v1/ai/text-to-image/imagen3/{{ $json.data.task_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-freepik-api-key",
              "value": "FPSXd657e028599a2956214dfae383682a59"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -140,
        60
      ],
      "id": "7ef78ed2-ff8d-4e69-84bf-53dad9ad9e9f",
      "name": "Get Image"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appmx8XSC7YGtV2n6",
          "mode": "list",
          "cachedResultName": "Connie - Logs",
          "cachedResultUrl": "https://airtable.com/appmx8XSC7YGtV2n6"
        },
        "table": {
          "__rl": true,
          "value": "tbl9NlwR95n4Y6pRS",
          "mode": "list",
          "cachedResultName": "Images Logs",
          "cachedResultUrl": "https://airtable.com/appmx8XSC7YGtV2n6/tbl9NlwR95n4Y6pRS"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "userId": "={{ $('When Executed by Another Workflow').item.json.chatID.toString() }}",
            "userPrompt_Title": "={{ $('When Executed by Another Workflow').item.json.imageTitle }}",
            "url": "={{ $json.webViewLink }}",
            "Image_Description": "={{ $('When Executed by Another Workflow').item.json.imagePrompt }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "userPrompt_Title",
              "displayName": "userPrompt_Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Image_Description",
              "displayName": "Image_Description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        340,
        200
      ],
      "id": "52dc2307-4af9-4a82-b23b-af012963f098",
      "name": "Stored Images Logs",
      "credentials": {
        "airtableTokenApi": {
          "id": "nAL0HIMVMsBw6lFI",
          "name": "Dan Airtable Acc"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appmx8XSC7YGtV2n6",
          "mode": "list",
          "cachedResultName": "Connie - Logs",
          "cachedResultUrl": "https://airtable.com/appmx8XSC7YGtV2n6"
        },
        "table": {
          "__rl": true,
          "value": "tblpFcnxnYnR62O0S",
          "mode": "list",
          "cachedResultName": "Connie - Logs",
          "cachedResultUrl": "https://airtable.com/appmx8XSC7YGtV2n6/tblpFcnxnYnR62O0S"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "userId": "={{ $('When Executed by Another Workflow').item.json.chatID.toString() }}",
            "Title": "={{ $('When Executed by Another Workflow').item.json.imageTitle }}",
            "Request": "={{ $('When Executed by Another Workflow').item.json.imagePrompt }}",
            "Link": "={{ $('Google Drive').item.json.webViewLink }}",
            "Output": "={{ $json.fields.url }}",
            "ID": "={{ $json.id }}",
            "Type": "Create Image"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Request",
              "displayName": "Request",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Output",
              "displayName": "Output",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        540,
        200
      ],
      "id": "20836ec9-e0f8-4c0d-8217-a9b2ab078d5d",
      "name": "Logs",
      "credentials": {
        "airtableTokenApi": {
          "id": "nAL0HIMVMsBw6lFI",
          "name": "Dan Airtable Acc"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "77222a38-58a2-41fe-8d5a-856edb08289f",
              "leftValue": "={{ $('When Executed by Another Workflow').item.json.chatID.toString() }}",
              "rightValue": "cg_admin",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        180,
        -60
      ],
      "id": "7ff27b93-5425-4811-ba95-41e621adfa6b",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "1VibxoOAEpKBzNu6UbIiQbmQUTDEQtUeXJo3YeHwrZxI"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -980,
        60
      ],
      "id": "cf287de3-7062-4b18-a5bc-37562a4bfaf9",
      "name": "Get a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "L9xmtETGAE9P06CN",
          "name": "Shreyansh Google Docs"
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Acknowledgment",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Prompt": {
      "main": [
        [
          {
            "node": "Generate Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Stored Images Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Image Prompt",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          },
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image": {
      "main": [
        [
          {
            "node": "90 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "90 Seconds": {
      "main": [
        [
          {
            "node": "Get Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stored Images Logs": {
      "main": [
        [
          {
            "node": "Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send Photo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document": {
      "main": [
        [
          {
            "node": "Image Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "a2690689-bc0c-4b4c-a352-35b9d5716e8a",
  "triggerCount": 0,
  "tags": [
    {
      "createdAt": "2025-06-27T07:34:07.987Z",
      "updatedAt": "2025-06-27T07:34:07.987Z",
      "id": "c4JskdjyXtEnYvX7",
      "name": "Images"
    },
    {
      "createdAt": "2025-06-27T07:33:17.146Z",
      "updatedAt": "2025-06-27T07:33:17.146Z",
      "id": "o0UdW0gjScBNiXfo",
      "name": "sub-workflow"
    },
    {
      "createdAt": "2025-06-26T13:04:45.212Z",
      "updatedAt": "2025-06-26T13:04:45.212Z",
      "id": "mlzzxeiQkKmGlFL7",
      "name": "Connie"
    }
  ]
}