helen---revops---core-.json
{
  "createdAt": "2025-07-16T10:01:08.478Z",
  "updatedAt": "2025-07-21T08:32:08.044Z",
  "id": "sG4R3MsTQeyL5dVP",
  "name": "Helen - RevOps - Core",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -600,
        560
      ],
      "id": "c9ca3f2c-0f42-463c-88ba-1583cb73cef5",
      "name": "MCP Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "L5UoHZfkBt6nb3Ad",
          "name": "OpenAi Account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When Executed by Another Workflow').item.json.sessionId }}",
        "tableName": "n8n_helen_chat_histories",
        "contextWindowLength": 30
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -480,
        560
      ],
      "id": "0edded41-4bf3-4e0d-b5ac-03dce712c24b",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "kS35e9jQpjf0T0s4",
          "name": "Dan Supabase Postgres Account"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1040,
        340
      ],
      "id": "64a948eb-ebca-4c06-a71c-27c764485f05",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "connectionType": "http",
        "operation": "readResource",
        "resourceUri": "={{ $fromAI(\"resource\", \"resource to use\")}}"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        -360,
        560
      ],
      "id": "d5c39048-8edb-4f2c-85b3-68a40799faff",
      "name": "MCP - Execute Resource",
      "credentials": {
        "mcpClientHttpApi": {
          "id": "PWCMity0g3k8UqWg",
          "name": "MCP Client (HTTP Streamable)"
        }
      }
    },
    {
      "parameters": {
        "connectionType": "http",
        "operation": "listResources"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        -240,
        560
      ],
      "id": "4dc0ae02-bc87-4cfd-9325-fb57bb7d2477",
      "name": "MCP Client - List Resources",
      "credentials": {
        "mcpClientHttpApi": {
          "id": "PWCMity0g3k8UqWg",
          "name": "MCP Client (HTTP Streamable)"
        }
      }
    },
    {
      "parameters": {
        "connectionType": "http",
        "operation": "getPrompt",
        "promptName": "={{ $fromAI(\"prompt\", \"prompt to use\")}}"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        -120,
        560
      ],
      "id": "5cbe988c-a8a3-48b6-bf7c-72458a2075f3",
      "name": "MCP - Execute Prompt",
      "credentials": {
        "mcpClientHttpApi": {
          "id": "PWCMity0g3k8UqWg",
          "name": "MCP Client (HTTP Streamable)"
        }
      }
    },
    {
      "parameters": {
        "connectionType": "http",
        "operation": "listPrompts"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        0,
        560
      ],
      "id": "f2bd4672-e781-439b-8c8e-867074ea6ca7",
      "name": "MCP - List Prompts",
      "credentials": {
        "mcpClientHttpApi": {
          "id": "PWCMity0g3k8UqWg",
          "name": "MCP Client (HTTP Streamable)"
        }
      }
    },
    {
      "parameters": {
        "connectionType": "http",
        "operation": "executeTool",
        "toolName": "={{ $fromAI(\"tool\", \"tool to use\")}}",
        "toolParameters": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tool_Parameters', ``, 'json') }}"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        120,
        560
      ],
      "id": "a445ab23-6246-452c-8b4b-a44fb81e853d",
      "name": "MCP - Execute Tool",
      "credentials": {
        "mcpClientHttpApi": {
          "id": "PWCMity0g3k8UqWg",
          "name": "MCP Client (HTTP Streamable)"
        }
      }
    },
    {
      "parameters": {
        "connectionType": "http"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        240,
        560
      ],
      "id": "6f52384f-e424-4541-96be-96d631bf6f1c",
      "name": "MCP - List Tools",
      "credentials": {
        "mcpClientHttpApi": {
          "id": "PWCMity0g3k8UqWg",
          "name": "MCP Client (HTTP Streamable)"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "### `error-log`\n\n- **Purpose:** record any workflow or tool error for later troubleshooting.  \n- **Required:** `message` — JSON object or array describing the error.",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "helen_error_logs",
          "mode": "list",
          "cachedResultName": "helen_error_logs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "message": "={{ $fromAI('message', `The error message or array of error messages to be logged. Can include source and details.`, 'string') }}",
            "session_id": "={{ $('When Executed by Another Workflow').item.json.sessionId }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        360,
        560
      ],
      "id": "0d57c831-a1dd-44a7-88f6-60cffaab5a3e",
      "name": "MCP - Error Log",
      "credentials": {
        "postgres": {
          "id": "kS35e9jQpjf0T0s4",
          "name": "Dan Supabase Postgres Account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When Executed by Another Workflow').item.json.chatInput }}",
        "options": {
          "systemMessage": "={{ $json.content }}",
          "maxIterations": 30
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -140,
        340
      ],
      "id": "214095cb-1059-4343-8536-498a1c8252b9",
      "name": "Helen | AI Agent",
      "retryOnFail": true
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        480,
        560
      ],
      "id": "cc79fa1f-acb3-4a52-a274-ce1140e12aab",
      "name": "Calculator"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "1m4mEMV1rlep3TpThpKXr8r66pl5k2nzYLyvhkYIk6mg"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -680,
        340
      ],
      "id": "ef7d1d68-a1b1-44a9-a953-facb236c48da",
      "name": "Get a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "L9xmtETGAE9P06CN",
          "name": "Shreyansh Google Docs"
        }
      }
    }
  ],
  "connections": {
    "MCP Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Helen | AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Helen | AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP - Execute Resource": {
      "ai_tool": [
        [
          {
            "node": "Helen | AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client - List Resources": {
      "ai_tool": [
        [
          {
            "node": "Helen | AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MCP - Execute Prompt": {
      "ai_tool": [
        [
          {
            "node": "Helen | AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MCP - List Prompts": {
      "ai_tool": [
        [
          {
            "node": "Helen | AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MCP - Execute Tool": {
      "ai_tool": [
        [
          {
            "node": "Helen | AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MCP - List Tools": {
      "ai_tool": [
        [
          {
            "node": "Helen | AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MCP - Error Log": {
      "ai_tool": [
        [
          {
            "node": "Helen | AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "Helen | AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get a document": {
      "main": [
        [
          {
            "node": "Helen | AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "8420ce32-54f0-4083-9f02-540572116f41",
  "triggerCount": 1,
  "tags": []
}