santorio-subagent:-oura-query-oura-ring.json
{
  "createdAt": "2025-04-11T09:25:42.417Z",
  "updatedAt": "2025-07-22T04:51:34.706Z",
  "id": "sFQxVO7qtziAmN1c",
  "name": "Santorio SubAgent: Oura Query",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -420,
        -360
      ],
      "id": "9bbfc2bd-d356-40e3-8fb9-e181a7149d58",
      "name": "Execute Workflow Trigger"
    },
    {
      "parameters": {
        "content": "## Agent Trigger\n",
        "height": 220,
        "width": 260,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -480,
        -420
      ],
      "id": "24998b1d-19dc-442a-a83c-5febef6fdcd0",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Main Agent ",
        "height": 240,
        "width": 500,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        100,
        -440
      ],
      "id": "6b0863ec-729a-4c94-aef4-183917b89852",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "# Oura Ring Tools",
        "height": 220,
        "width": 500,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        100,
        -180
      ],
      "id": "1121bb7f-7efb-4f32-8d17-eb6447d43784",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# Brain",
        "height": 220,
        "width": 260,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -180,
        -180
      ],
      "id": "49813b45-b304-41d6-a65c-f0ef5fda8dca",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "filters": {
          "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End_Date', ``, 'string') }}",
          "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_Date', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.ouraTool",
      "typeVersion": 1,
      "position": [
        140,
        -80
      ],
      "id": "1a4499da-ab12-418b-b3ea-974789ae9f6c",
      "name": "OuraSleepData",
      "credentials": {
        "ouraApi": {
          "id": "5O0gsZUPpdyCfRsF",
          "name": "Oura account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getReadiness",
        "filters": {
          "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End_Date', ``, 'string') }}",
          "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_Date', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.ouraTool",
      "typeVersion": 1,
      "position": [
        300,
        -80
      ],
      "id": "6351cfab-8baa-45a0-b212-1c3f35df98f8",
      "name": "OuraRadinessData",
      "credentials": {
        "ouraApi": {
          "id": "5O0gsZUPpdyCfRsF",
          "name": "Oura account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getActivity",
        "filters": {
          "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End_Date', ``, 'string') }}",
          "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_Date', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.ouraTool",
      "typeVersion": 1,
      "position": [
        460,
        -80
      ],
      "id": "64951bd3-c9ec-43a7-add2-e4ed31a9c5bc",
      "name": "OuraActivityData",
      "credentials": {
        "ouraApi": {
          "id": "5O0gsZUPpdyCfRsF",
          "name": "Oura account"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4.1",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -100,
        -80
      ],
      "id": "84c197c4-ae8c-4a14-a5d2-90fdf0530464",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "hpvxzuW3W9YmuUCO",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User query: {{ $('Execute Workflow Trigger').item.json.userQuery }}",
        "options": {
          "systemMessage": "={{ $json.content }}",
          "returnIntermediateSteps": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        240,
        -360
      ],
      "id": "e5416531-476f-4306-ba0b-a5d0ada5b5a7",
      "name": "Health Metrics Agent"
    },
    {
      "parameters": {
        "chatId": "={{ $('Execute Workflow Trigger').item.json.chatID }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        880,
        -340
      ],
      "id": "9851f25d-066d-4025-b7d2-6018877b00fa",
      "name": "Send a text message",
      "webhookId": "83aaf73e-1fb9-4485-abd6-a76bda36e51f",
      "credentials": {
        "telegramApi": {
          "id": "n9uqHVVmsUH0LY6C",
          "name": "Santorio-API-Token"
        }
      }
    },
    {
      "parameters": {
        "content": "## Response\n",
        "height": 220,
        "width": 440,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        620,
        -420
      ],
      "id": "337da5cb-07f2-41c0-a7d5-f7a16410e33c",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e6066e3f-e834-4bb9-95cf-9a7b0525393d",
              "leftValue": "={{ $('Execute Workflow Trigger').item.json.chatID }}",
              "rightValue": "cg_admin",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        640,
        -360
      ],
      "id": "1afd3578-4805-4418-a30c-8e9829d238a4",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "1OGM4wf4jzpkaYCa8cvNvJqchte8metpbTOfrXz-usqQ"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -120,
        -360
      ],
      "id": "434b1ddc-d424-404a-9391-a82e563f606c",
      "name": "Get a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "L9xmtETGAE9P06CN",
          "name": "Shreyansh Google Docs"
        }
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Get a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OuraSleepData": {
      "ai_tool": [
        [
          {
            "node": "Health Metrics Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OuraRadinessData": {
      "ai_tool": [
        [
          {
            "node": "Health Metrics Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OuraActivityData": {
      "ai_tool": [
        [
          {
            "node": "Health Metrics Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Health Metrics Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Health Metrics Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document": {
      "main": [
        [
          {
            "node": "Health Metrics Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "7bc242d6-ce4c-441e-9240-723d355a1d1f",
  "triggerCount": 0,
  "tags": [
    {
      "createdAt": "2025-04-11T09:26:04.688Z",
      "updatedAt": "2025-04-11T09:26:04.688Z",
      "id": "xQkClsUeeYgQkMum",
      "name": "oura-ring"
    },
    {
      "createdAt": "2025-04-11T09:25:51.835Z",
      "updatedAt": "2025-04-11T09:25:51.835Z",
      "id": "ToMo6I9Ke3p6ebR6",
      "name": "Single questions"
    },
    {
      "createdAt": "2025-04-11T09:23:59.152Z",
      "updatedAt": "2025-04-11T09:23:59.152Z",
      "id": "fSbMm0PHqiXhIK0L",
      "name": "SAN-3.0 subworkflow"
    }
  ]
}