santorio-subagent:-health-insights-SAN-3.0 subworkflow.json
{
  "createdAt": "2025-04-11T09:31:02.007Z",
  "updatedAt": "2025-07-22T05:08:12.900Z",
  "id": "NHcxfqgTghxPTxYH",
  "name": "Santorio SubAgent: Health Insights",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "san-bot-disease-risk-recommendation",
          "mode": "list",
          "cachedResultName": "san-bot-disease-risk-recommendation"
        },
        "options": {
          "pineconeNamespace": "disease_risk"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        -280,
        100
      ],
      "id": "df23eeba-aca5-4bd6-984c-c4355515c3c3",
      "name": "Pinecone Vector Store2",
      "credentials": {
        "pineconeApi": {
          "id": "EnfM5lZWClj8IYRr",
          "name": "harshit-pinecone-account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.1,
      "position": [
        220,
        360
      ],
      "id": "931cb446-01cb-4ab8-b19f-c04639fe2bc4",
      "name": "Embeddings OpenAI2",
      "credentials": {
        "openAiApi": {
          "id": "hpvxzuW3W9YmuUCO",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "san-bot-disease-risk-recommendation",
          "mode": "list",
          "cachedResultName": "san-bot-disease-risk-recommendation"
        },
        "options": {
          "pineconeNamespace": "recommendations"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        140,
        120
      ],
      "id": "d5e6c496-e998-4b12-8d7c-8baa0d4e4303",
      "name": "Pinecone Vector Store4",
      "credentials": {
        "pineconeApi": {
          "id": "EnfM5lZWClj8IYRr",
          "name": "harshit-pinecone-account"
        }
      }
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "san-bot-disease-risk-recommendation",
          "mode": "list",
          "cachedResultName": "san-bot-disease-risk-recommendation"
        },
        "options": {
          "pineconeNamespace": "disease_causes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        560,
        100
      ],
      "id": "e157f50a-9349-4bcb-baa3-581685635200",
      "name": "Pinecone Vector Store5",
      "credentials": {
        "pineconeApi": {
          "id": "EnfM5lZWClj8IYRr",
          "name": "harshit-pinecone-account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Execute Workflow Trigger').item.json.userQuery }}",
        "options": {
          "systemMessage": "={{ $json.content }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -72,
        -240
      ],
      "id": "fdaf3da7-719c-467f-b18f-31844adb76bd",
      "name": "AI Agent1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -580,
        -240
      ],
      "id": "004202bb-f4c6-4e13-ad46-bfc03926deed",
      "name": "Execute Workflow Trigger"
    },
    {
      "parameters": {
        "name": "disease_tool",
        "description": "=Call this Vector Store Tool to retrieve health-related disease risk data for the user. It provides insights into potential disease risks over a lifetime without changes in current health habits.",
        "topK": 10
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        -280,
        -17.5
      ],
      "id": "de6ee883-e6c1-4060-a13f-23a3e8b6c5f4",
      "name": "disease_tool"
    },
    {
      "parameters": {
        "name": "recommandation_tool",
        "description": "Use this tool when user asks queries seeking recommendations or treatments for their own diseases.",
        "topK": 10
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        136,
        -17.5
      ],
      "id": "6952a1a9-8284-4ecb-b186-7b41d4d862d0",
      "name": "recommandation_tool"
    },
    {
      "parameters": {
        "name": "disease_causes_tool",
        "description": "Call this tool when user ask about any causes related to disease or nutrition for themselves.",
        "topK": 10
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        552,
        -17.5
      ],
      "id": "2ea26037-3c8e-4b34-b526-540c48a229fb",
      "name": "disease_causes_tool"
    },
    {
      "parameters": {
        "chatId": "={{ $('Execute Workflow Trigger').item.json.chatID }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        580,
        -220
      ],
      "id": "7fb319ea-043d-4a98-9b72-a886111d6a5d",
      "name": "Send a text message",
      "webhookId": "83aaf73e-1fb9-4485-abd6-a76bda36e51f",
      "credentials": {
        "telegramApi": {
          "id": "n9uqHVVmsUH0LY6C",
          "name": "Santorio-API-Token"
        }
      }
    },
    {
      "parameters": {
        "content": "## Response\n",
        "height": 240,
        "width": 480,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        260,
        -300
      ],
      "id": "8fb03f37-8532-489c-9267-1a5028a3e700",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "model": "gpt-4.1",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        0,
        360
      ],
      "id": "cd94f58e-5980-4195-ac0a-5c8973ddc677",
      "name": "Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "hpvxzuW3W9YmuUCO",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getActivity",
        "limit": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', `Take a limit based on start  date and end date`, 'number') }}",
        "filters": {
          "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End_Date', ``, 'string') }}",
          "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_Date', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.ouraTool",
      "typeVersion": 1,
      "position": [
        -20,
        60
      ],
      "id": "47dbeceb-ad18-4068-b562-516cc2ae22d2",
      "name": "OuraActivityData",
      "credentials": {
        "ouraApi": {
          "id": "5O0gsZUPpdyCfRsF",
          "name": "Oura account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e6066e3f-e834-4bb9-95cf-9a7b0525393d",
              "leftValue": "={{ $('Execute Workflow Trigger').item.json.chatID }}",
              "rightValue": "cg_admin",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        360,
        -220
      ],
      "id": "b6ada40e-9a51-40ac-9c14-7373a50b2119",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "1-T9Ho9ZqWvejpIpTh9_8dmz5FHtfxW8G4BU3Vum8YdI"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -320,
        -240
      ],
      "id": "2a2b2f10-b382-4a1f-9ac5-1a49aef38dc1",
      "name": "Get a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "L9xmtETGAE9P06CN",
          "name": "Shreyansh Google Docs"
        }
      }
    }
  ],
  "connections": {
    "Pinecone Vector Store2": {
      "ai_vectorStore": [
        [
          {
            "node": "disease_tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store2",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Pinecone Vector Store4",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Pinecone Vector Store5",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store4": {
      "ai_vectorStore": [
        [
          {
            "node": "recommandation_tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store5": {
      "ai_vectorStore": [
        [
          {
            "node": "disease_causes_tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Get a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "disease_tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "recommandation_tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "disease_causes_tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "disease_tool",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "recommandation_tool",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "disease_causes_tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "49e9d89b-2852-4300-a1e2-316be0fa04a4",
  "triggerCount": 0,
  "tags": [
    {
      "createdAt": "2025-04-11T09:23:59.152Z",
      "updatedAt": "2025-04-11T09:23:59.152Z",
      "id": "fSbMm0PHqiXhIK0L",
      "name": "SAN-3.0 subworkflow"
    },
    {
      "createdAt": "2025-04-11T09:28:50.842Z",
      "updatedAt": "2025-04-11T09:28:50.842Z",
      "id": "zs2sreDkbL3PMpx4",
      "name": "San 3.0 - Sub"
    }
  ]
}