santorio-subagent:-daily-greeting-San 3.0 - Main.json
{
  "createdAt": "2025-04-11T09:23:47.368Z",
  "updatedAt": "2025-07-22T05:11:35.763Z",
  "id": "3ppZDQEZk5L7FbCh",
  "name": "Santorio SubAgent: Daily Greeting",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -880,
        -420
      ],
      "id": "b6f94bb7-d35a-4c4b-a3b2-935a145ac45d",
      "name": "Execute Workflow Trigger"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -620,
        -160
      ],
      "id": "ee2db5e3-ee36-45c6-8c40-3d36f9886be0",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "hpvxzuW3W9YmuUCO",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "returnAll": true,
        "filters": {
          "end": "={{ $now.minus(1, 'day').format('yyyy-MM-dd') }}",
          "start": "={{ $now.minus(1, 'day').format('yyyy-MM-dd') }}"
        }
      },
      "type": "n8n-nodes-base.ouraTool",
      "typeVersion": 1,
      "position": [
        -380,
        -180
      ],
      "id": "035c46e0-a28e-48b1-bb38-7cf5bca3c4fe",
      "name": "OuraSleepData",
      "credentials": {
        "ouraApi": {
          "id": "5O0gsZUPpdyCfRsF",
          "name": "Oura account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getReadiness",
        "returnAll": true,
        "filters": {
          "end": "={{ $now.minus(1, 'day').format('yyyy-MM-dd') }}",
          "start": "={{ $now.minus(1, 'day').format('yyyy-MM-dd') }}"
        }
      },
      "type": "n8n-nodes-base.ouraTool",
      "typeVersion": 1,
      "position": [
        -220,
        -180
      ],
      "id": "17ac2174-125a-46ce-a705-3b1e5be36a24",
      "name": "OuraRadinessData",
      "credentials": {
        "ouraApi": {
          "id": "5O0gsZUPpdyCfRsF",
          "name": "Oura account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getActivity",
        "returnAll": true,
        "filters": {
          "end": "={{ $now.minus(1, 'day').format('yyyy-MM-dd') }}",
          "start": "={{ $now.minus(1, 'day').format('yyyy-MM-dd') }}"
        }
      },
      "type": "n8n-nodes-base.ouraTool",
      "typeVersion": 1,
      "position": [
        -60,
        -180
      ],
      "id": "1d46b2c5-b932-4220-81d5-4015c3a9d787",
      "name": "OuraActivityData",
      "credentials": {
        "ouraApi": {
          "id": "5O0gsZUPpdyCfRsF",
          "name": "Oura account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Agent Trigger\n",
        "height": 220,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -960,
        -480
      ],
      "id": "007a806c-524b-4f18-bd9c-903167e8bf28",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Oura Ring Tools",
        "height": 220,
        "width": 500,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -440,
        -240
      ],
      "id": "f46ca9d1-9ceb-4475-8a40-9b395a3b6bda",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# Main Agent ",
        "height": 220,
        "width": 500,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -460,
        -480
      ],
      "id": "171dfe7c-662a-41fa-a582-e532a5d4472b",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "# Brain",
        "height": 220,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -720,
        -240
      ],
      "id": "67e70070-4787-4b8c-b6f6-45218f69448e",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "chatId": "={{ $('Execute Workflow Trigger').item.json.chatID }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        400,
        -420
      ],
      "id": "57972a9a-fd67-42ae-803f-545d79b46636",
      "name": "Send a text message",
      "webhookId": "83aaf73e-1fb9-4485-abd6-a76bda36e51f",
      "credentials": {
        "telegramApi": {
          "id": "n9uqHVVmsUH0LY6C",
          "name": "Santorio-API-Token"
        }
      }
    },
    {
      "parameters": {
        "content": "## Response\n",
        "height": 220,
        "width": 500,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        80,
        -480
      ],
      "id": "ef1e0492-35d8-4140-8a9c-2bdbdc92d21f",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Execute Workflow Trigger').item.json.userQuery }}",
        "options": {
          "systemMessage": "={{ $json.content }}",
          "returnIntermediateSteps": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -328,
        -420
      ],
      "id": "a5fd4e5d-4b98-45e6-b423-54da1678b596",
      "name": "Oura Ring  Agent"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e6066e3f-e834-4bb9-95cf-9a7b0525393d",
              "leftValue": "={{ $('Execute Workflow Trigger').item.json.chatID }}",
              "rightValue": "cg_admin",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        140,
        -420
      ],
      "id": "98983dc1-ff1f-4d7d-9d3f-9798373e66e2",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "1kfuW1iHeykAJ2jxRzB-1DXdPdbGofOUP5mkGj22quAM"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -620,
        -420
      ],
      "id": "7c756052-dab8-4885-a9c6-6365c24d5572",
      "name": "Get a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "L9xmtETGAE9P06CN",
          "name": "Shreyansh Google Docs"
        }
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Get a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Oura Ring  Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OuraSleepData": {
      "ai_tool": [
        [
          {
            "node": "Oura Ring  Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OuraRadinessData": {
      "ai_tool": [
        [
          {
            "node": "Oura Ring  Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OuraActivityData": {
      "ai_tool": [
        [
          {
            "node": "Oura Ring  Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Oura Ring  Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document": {
      "main": [
        [
          {
            "node": "Oura Ring  Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "be1aed07-87e6-49cd-84df-0b7967183cba",
  "triggerCount": 0,
  "tags": [
    {
      "createdAt": "2025-04-11T09:22:08.439Z",
      "updatedAt": "2025-04-11T09:22:08.439Z",
      "id": "njm6GTgmZ72M7rfN",
      "name": "San 3.0 - Main"
    }
  ]
}