the-dan---agentic-chief-of-staff-.json
{
  "createdAt": "2025-07-14T06:28:18.361Z",
  "updatedAt": "2025-07-21T08:22:04.873Z",
  "id": "Pj4V8ZpUbZluPXf3",
  "name": "The Dan - Agentic Chief of Staff",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1140,
        160
      ],
      "id": "4bdbe090-0efa-4257-878d-f9e1df3de4cd",
      "name": "Telegram Trigger",
      "webhookId": "f20f93ae-ae49-4911-9bfb-cb548c24fe8a",
      "credentials": {
        "telegramApi": {
          "id": "yjTIjxaXNqale9Gp",
          "name": "Dan Dashboard bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d83bac53-7159-4eb0-b848-b68e999890d7",
              "leftValue": "={{ $('Edit Fields').item.json.chatId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -700,
        260
      ],
      "id": "74c2b438-f608-4807-b30c-919d696bd510",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9b582c25-7353-4777-ad37-b276f7efd8a1",
              "name": "=Message",
              "value": "={{ $json[\"message\"]?.text || $json.Message }}",
              "type": "string"
            },
            {
              "id": "97fac2ff-5fec-4b4e-b795-6da3f27085da",
              "name": "chatId",
              "value": "={{ $json.message.chat.id  }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -920,
        260
      ],
      "id": "56138c3a-69fc-4c83-8bb7-ec72a36c5cc4",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=query: {{ $('Edit Fields').item.json.Message }}",
        "options": {
          "systemMessage": "={{ $json.content }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -160,
        -40
      ],
      "id": "fd21efba-7c2b-42eb-a448-6c70d8f897ee",
      "name": "AI Agent3"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -260,
        180
      ],
      "id": "1a9371f0-0922-4f73-93e6-c1e849f90285",
      "name": "OpenAI Chat Model4",
      "credentials": {
        "openAiApi": {
          "id": "hpvxzuW3W9YmuUCO",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=cg_admin_newest_new",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -140,
        180
      ],
      "id": "ad2cd422-fe39-492b-a086-dbec49d19709",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        300,
        60
      ],
      "id": "f5167e98-83e1-4805-adde-c3f61fec5a0d",
      "name": "Send a text message",
      "webhookId": "e3d1e0b2-5569-43d4-9fcb-fd2df4cb2eed",
      "credentials": {
        "telegramApi": {
          "id": "yjTIjxaXNqale9Gp",
          "name": "Dan Dashboard bot"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=query: {{ $('Edit Fields').item.json.Message }}",
        "options": {
          "systemMessage": "={{ $json.content }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -160,
        460
      ],
      "id": "a5ad1f6e-23e4-4e29-9266-e9e508457429",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -260,
        680
      ],
      "id": "a6468b91-9424-4444-818e-afe9f874f46d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "hpvxzuW3W9YmuUCO",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=cg_admin_newest_new",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -140,
        680
      ],
      "id": "7db3b2ef-a8e7-4499-8707-cf4648fb1416",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Call this tool to get data related to agent and child agents execution data like Success percentage, failure percentage, total executions, childs etc.",
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appDhxpnl9eqpJm7z",
          "mode": "list",
          "cachedResultName": "Agents",
          "cachedResultUrl": "https://airtable.com/appDhxpnl9eqpJm7z"
        },
        "table": {
          "__rl": true,
          "value": "tblcHZxjHzUPdYcPW",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appDhxpnl9eqpJm7z/tblcHZxjHzUPdYcPW"
        },
        "filterByFormula": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        -20,
        180
      ],
      "id": "7db4b327-595a-4888-b233-16dd3f558006",
      "name": "Agent_executions_data1",
      "credentials": {
        "airtableTokenApi": {
          "id": "LUV09oDP5v1QpIcn",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=Call this tool to get data related to agent and child agents execution data like Success percentage, failure percentage, total executions, childs etc.",
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appDhxpnl9eqpJm7z",
          "mode": "list",
          "cachedResultName": "Agents",
          "cachedResultUrl": "https://airtable.com/appDhxpnl9eqpJm7z"
        },
        "table": {
          "__rl": true,
          "value": "tblcHZxjHzUPdYcPW",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appDhxpnl9eqpJm7z/tblcHZxjHzUPdYcPW"
        },
        "filterByFormula": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        -20,
        680
      ],
      "id": "e1a9fb03-7982-4823-b849-a5aa4975d1e1",
      "name": "Agent_executions_data",
      "credentials": {
        "airtableTokenApi": {
          "id": "LUV09oDP5v1QpIcn",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=Call this tool to get data related to agent's last executions like status, input and output details.",
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appDhxpnl9eqpJm7z",
          "mode": "list",
          "cachedResultName": "Agents",
          "cachedResultUrl": "https://airtable.com/appDhxpnl9eqpJm7z"
        },
        "table": {
          "__rl": true,
          "value": "tblKXDysiqT2sq4Wd",
          "mode": "list",
          "cachedResultName": "Executions",
          "cachedResultUrl": "https://airtable.com/appDhxpnl9eqpJm7z/tblKXDysiqT2sq4Wd"
        },
        "filterByFormula": "=",
        "options": {
          "view": {
            "mode": "list",
            "value": ""
          }
        }
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        100,
        680
      ],
      "id": "42517735-b39f-48dd-8cd4-a8245b1c8f70",
      "name": "Agent_last_executions",
      "credentials": {
        "airtableTokenApi": {
          "id": "LUV09oDP5v1QpIcn",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Call this tool to get data related to agent's last executions like status, input and output details.",
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appDhxpnl9eqpJm7z",
          "mode": "list",
          "cachedResultName": "Agents",
          "cachedResultUrl": "https://airtable.com/appDhxpnl9eqpJm7z"
        },
        "table": {
          "__rl": true,
          "value": "tblKXDysiqT2sq4Wd",
          "mode": "list",
          "cachedResultName": "Executions",
          "cachedResultUrl": "https://airtable.com/appDhxpnl9eqpJm7z/tblKXDysiqT2sq4Wd"
        },
        "filterByFormula": "=",
        "options": {
          "view": {
            "mode": "list",
            "value": ""
          }
        }
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        100,
        180
      ],
      "id": "cda4a412-8698-4581-93a1-b0588c621407",
      "name": "Agent_last_executions1",
      "credentials": {
        "airtableTokenApi": {
          "id": "LUV09oDP5v1QpIcn",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Message"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1140,
        360
      ],
      "id": "daefd62b-b73b-467f-be7d-d412b4570ce1",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "1U58umoqTBr4rt5-UsSyw_LYSKkmEFylwl8rkperDBQA"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -480,
        60
      ],
      "id": "f8507a2c-9a43-41fb-bd0a-ef7f65c73c7a",
      "name": "Get a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "L9xmtETGAE9P06CN",
          "name": "Shreyansh Google Docs"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "1dWlZliQJMeEfPaRyLShOPTkxv46UZoh4J0eMcJjMUDw"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -480,
        460
      ],
      "id": "e66baec2-ca09-4d80-8151-4210be794945",
      "name": "Get a document1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "L9xmtETGAE9P06CN",
          "name": "Shreyansh Google Docs"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get a document",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a document1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent3": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Agent_executions_data1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Agent_executions_data": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Agent_last_executions": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Agent_last_executions1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document": {
      "main": [
        [
          {
            "node": "AI Agent3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "4f996931-6c1e-4ff4-ad54-24811b20de7f",
  "triggerCount": 1,
  "tags": []
}